$primary-colour: #70259b;
$secondary-colour: #201728;

body {
  background-color: $secondary-colour;
  margin: 0;
  padding: 0;
}

// Top section styling
.top-box {
  background-image: url("./assets/images/hearo-top.jpg");
  background-position: center;
  background-size: cover;
  height: 110vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
  // top section heading styling
  .heading {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  // icon styling
  .move_icon {
    margin-left: 97%;
    margin-top: 0.4%;
    width: 20px;
    height: 20px;
  }
  // white arrow styling / positioning
  .white_arrow {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.box_two {
  background-color: $primary-colour;
  height: 60%;
  width: 70%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 420px;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);

  // div styling inside box 2
  div {
    font-size: 203%;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: white;
    margin-top: 2%;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
  }

  // about us button styling
  button {
    border: 2px solid rgb(225, 0, 242);
    background-color: $primary-colour;
    color: white;
    padding: 12px 30px;
    font-size: 10px;
    position: absolute;
    transform: translate(-60%, 100%);
    animation-name: about-btn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  // positioning of arrow next to button and styling
  .arrow_by_button {
    transform: translate(80%, 340%);
  }
}

@keyframes about-btn {
  from {
    background-color: rgb(111, 36, 155);
    border: 2px solid rgb(225, 28, 91);
    color: white;
  }
  to {
    background-color: rgb(225, 28, 91);
    border: 2px solid rgb(111, 36, 155);
    color: black;
  }
}

.box_three {
  margin-top: 50%;
  // positioning of cross png
  .move_cross {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: -1;
  }
  // positioning of hexagon image
  .move_hex {
    transform: translate(80%, -135%);
  }
  // positioning of the people image
  .people {
    transform: translate(10%, -102%);
    opacity: 0.8;
  }
  // positioning of scribble png
  .scribble {
    transform: translate(-120%, -720%);
  }
  // positioning of cross arrow png
  .cross_arrow {
    transform: translate(50%, -200%);
  }
  // positioning of text box
  .text-box {
    transform: translate(65%, -55%);
    width: 20%;
    z-index: 1;
    // positioning and styling of title in text box
    .title {
      font-size: 350%;
      color: white;
      font-weight: 300;
    }
    // positioning and styling of p tag in text box
    p {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 50;
    }
    // positioning and styling of button in text box
    button {
      border: 2px solid rgb(255, 0, 242);
      background-color: rgb(32, 23, 40);
      color: white;
      padding: 12px 30px;
      font-size: 10px;
      position: absolute;
      transform: translate(0%, 50%);
      animation-name: about-btn;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    // positioning and styling of arrow next button in text box
    .arrow_by_button {
      transform: translate(240%, 190%);
    }
  }
}
.box_four {
  height: 150vh;
  background-color: rgb(111, 36, 155);
  margin-top: -100px;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);

  // circle gradient image styling and positioning
  .circle {
    position: absolute;
    transform: translate(130%, 55%);
  }

  // robot image styling and positioning
  .robot {
    transform: translate(20%, 85%);
    -webkit-box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
  }

  // text box styling and positioning
  .text-box-2 {
    transform: translate(300%, -40%);
    width: 20%;
  }
  // title next to robot image
  .title_of_robot {
    font-size: 300%;
    font-weight: 400;
    color: white;
    transform: translate(10%, 10%);
  }

  // paragraph tag styling
  p {
    color: white;
    font-family: "Montserrat", sans-serif;
    transform: translate(20%, 10%);
  }

  // button styling
  button {
    border: 2px solid rgb(255, 0, 242);
    background-color: rgb(111, 36, 155);
    color: white;
    padding: 12px 30px;
    font-size: 10px;
    position: absolute;
    transform: translate(50%, 80%);
    animation-name: about-btn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  // arrow next to button styling
  .arrow_by_button {
    transform: translate(380%, 250%);
  }

  // arrow with cross styling
  .arrow_with_cross {
    float: right;
    transform: translate(-2000%, 0%);
  }
}
.box_five {
  height: 70vh;
  background-color: white;

  // Grid container styling
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;

    // Grid items styling and alignment
    .grid-item {
      height: 300px;
      text-align: center;
      background-position: center;
      background-size: cover;
      h6 {
        color: rgb(204, 32, 104);
        text-align: left;
        padding-left: 3%;
        font-family: "Gruppo", cursive;
      }
      p {
        color: white;
        font-size: 250%;
        width: 90%;
        text-align: left;
        padding-left: 3%;
      }
    }

    // Grid card one
    .num_one {
      background-image: url(../assets/images/bg-square-gradient.png);

      // arrow from first card
      .first_arrow {
        transform: translate(250%, 30%);
      }
    }

    // Grid card two
    .num_two {
      background-image: url(../assets/images/bg-rectangle-gradient.png);

      // arrow from second card
      .second_arrow {
        transform: translate(350%, 300%);
      }
    }

    // Grid card three
    .num_three {
      background-image: url(../assets/images/bg-circle-gradient.png);

      // arow from third card
      .third_arrow {
        transform: translate(300%, 290%);
      }
    }
  }
}
.box_six {
  // Grid container styling and positioning
  .grid-container {
    display: grid;

    grid-template-columns: 23% 23% 23% 23%;

    // Grid items withing Grid container
    .grid-item {
      height: 170px;
      text-align: center;
      padding: 20px;
      margin-left: -10px;
      margin-top: 10px;

      h2 {
        color: rgb(204, 32, 104);
        text-align: left;
        padding-left: 3%;
      }
      p {
        color: white;
        font-size: 100%;
        width: 90%;
        text-align: left;
        padding-left: 3%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

// Sidenav styling and positioning
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $secondary-colour;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Playfair Display", sans-serif;
  opacity: 0.8;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: rgb(0, 125, 174);
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

// Mobile Responsiveness
@media (max-width: 910px) {
  .top-box {
    background-image: url(../kjd-assets/hearo-top.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
    .heading {
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .move_icon {
      color: white;
      margin-left: 93%;
      margin-top: 1%;
      width: 30px;
      height: 30px;
    }
    .white_arrow {
      top: 93%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  .box_two {
    background-color: rgb(111, 36, 155);
    height: 50%;
    width: 70%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 420px;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
    div {
      font-size: 147%;
      font-family: "Playfair Display", serif;
      text-align: center;
      color: white;
      margin-top: 5%;
      position: absolute;
      padding-left: 5%;
      padding-right: 5%;
    }
    button {
      border: 1px solid rgb(255, 0, 242);
      background-color: rgb(111, 36, 155);
      color: white;
      padding: 12px 30px;
      font-size: 10px;
      position: absolute;
      transform: translate(-100%, 200%);
    }
    button:hover {
      background-color: white;
    }
    .arrow_by_button {
      transform: translate(-30%, 490%);
    }
  }

  .box_three {
    margin-top: 800px;
    .move_cross {
      position: absolute;
      top: 160%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .move_hex {
      transform: translate(50%, 70%);
      width: 50%;
      height: 50%;
      margin-top: 50px;
    }
    .people {
      transform: translate(-50%, -40%);
      width: 100%;
      height: 50%;
      position: absolute;
    }
    .scribble {
      transform: translate(-100%, -620%);
      float: right;
    }
    .cross_arrow {
      position: absolute;
      transform: translate(-50%, 220%);
    }
    .text-box {
      transform: translate(5%, -400%);
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      width: 80%;

      .title {
        font-size: 200%;
        color: white;
      }
      p {
        color: white;
        font-family: "Montserrat", sans-serif;
      }
      button {
        border: 2px solid rgb(225, 28, 91);
        background-color: rgb(32, 23, 40);
        color: white;
        padding: 12px 30px;
        font-size: 10px;
        position: absolute;
        transform: translate(-20%, 50%);
      }
      .arrow_by_button {
        transform: translate(180%, 180%);
      }
    }
  }

  .box_four {
    height: 150vh;
    background-color: rgb(111, 36, 155);
    margin-top: -100px;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    .circle {
      width: 250px;
      height: 250px;
      transform: translate(60%, -30%);
    }
    .robot {
      transform: translate(0%, 80%);
      width: 100%;
      -webkit-box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 2px 38px 7px rgba(0, 0, 0, 0.75);
    }
    .text-box-2 {
      width: 80%;
      transform: translate(0%, -250%);

      .title_of_robot {
        font-size: 312%;
        color: white;
        transform: translate(25%, 0%);
      }
      p {
        color: white;
        font-family: "Montserrat", sans-serif;
        transform: translate(20%, 10%);
      }
      button {
        border: 2px solid rgb(225, 28, 91);
        background-color: rgb(111, 36, 155);
        color: white;
        padding: 12px 30px;
        font-size: 10px;
        position: absolute;
        transform: translate(170%, 80%);
      }
      .arrow_by_button {
        float: right;
        transform: translate(-100%, 250%);
      }
    }
    .arrow_with_cross {
      float: right;
      transform: translate(-2250%, 95%);
    }
  }

  .box_five {
    height: 160vh;
    background-color: white;
    .grid-container {
      grid-template-columns: auto;
      padding-top: 20px;
      padding-left: 50px;
      padding-right: 50px;
      .grid-item {
        height: 300px;
        text-align: center;
        background-position: center;
        background-size: cover;
        h6 {
          color: rgb(204, 32, 104);
          text-align: left;
          padding-top: 5%;
          padding-left: 3%;
          font-family: "Gruppo", cursive;
        }
        p {
          color: white;
          font-size: 250%;
          width: 90%;
          text-align: left;
          padding-left: 3%;
        }
      }
      .num_one {
        background-image: url(../kjd-assets/bg-square-gradient.png);
        .first_arrow {
          transform: translate(370%, -90%);
        }
      }
      .num_two {
        background-image: url(../kjd-assets/bg-rectangle-gradient.png);
        margin-top: 10px;
        .second_arrow {
          transform: translate(370%, 200%);
        }
      }
      .num_three {
        background-image: url(../kjd-assets/bg-circle-gradient.png);
        margin-top: 10px;
        .third_arrow {
          transform: translate(370%, 200%);
        }
      }
    }
  }

  .box_six {
    .grid-container {
      grid-template-columns: auto;

      .grid-item {
        height: 170px;
        text-align: center;
        padding: 20px;
        margin-left: -10px;
        margin-top: 10px;

        h2 {
          color: rgb(204, 32, 104);
          text-align: center;
        }
        p {
          color: white;
          font-size: 100%;

          text-align: center;

          font-family: system-ui, system-ui, sans-serif;
        }
      }
    }
  }
}
